server:
  port: 8000

spring:
  application:
    name: storefront_bff
#  profiles:
#    active: prod
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:http://identity:8080/realms/CourseRealm}
        registration:
          keycloak:   # registrationId
            provider: keycloak
            client-id: storefront-bff
            client-secret: ${KEYCLOAK_CLIENT_SECRET_STOREFRONT:okuONdlbOa8WuTAzeb23tVwPAObA4RUd}
            # redirect-uri: ${SELF_URL}/login/oauth2/code/storefront-bff
            scope: openid, profile, email, roles

  cloud:
    gateway:
      default-filters:
        - SaveSession
      routes:
        - id: user
          uri: ${USER_SERVICE_URI:http://localhost:9000}
          predicates:
            - Path=/api/user-service/**
          filters:
            - TokenRelay
            - StripPrefix=1
        - id: order
          uri: ${ORDER_SERVICE_URI:http://localhost:9004}
          predicates:
            - Path=/api/order-service/**
          filters:
            - TokenRelay
            - StripPrefix=1
        - id: course
          uri: ${COURSE_SERVICE_URI:http://localhost:9002}
          predicates:
            - Path=/api/course-service/**
          filters:
              - TokenRelay
              - StripPrefix=1
        - id: enrollment
          uri: ${ENROLLMENT_SERVICE_URI:http://localhost:9005}
          predicates:
             - Path=/api/enrollment-service/**
          filters:
              - TokenRelay
              - StripPrefix=1
        - id: notification
          uri: ${NOTIFICATION_SERVICE_URI:http://localhost:9008}
          predicates:
              - Path=/api/notification-service/**
          filters:
              - TokenRelay
              - StripPrefix=1
        - id: progress
          uri: ${PROGRESS_SERVICE_URI:http://localhost:9007}
          predicates:
              - Path=/api/progress-service/**
          filters:
              - TokenRelay
              - StripPrefix=1
        - id: chatbot
          uri: http://localhost:5000
          predicates:
              - Path=/api/**
          filters:
              - TokenRelay
              - StripPrefix=0


#        - id: api
#          uri: http://api.hajime.local
#          predicates:
#            - Path=/api/**
#          filters:
#            - TokenRelay
#            - StripPrefix=1
        - id: reactjs
          uri: ${STOREFRONT_REACTJS_URI:http://localhost:3000}
          predicates:
            - Path=/**

    data:
      redis:
        host: localhost
        port: 6379
      session:
        store-type: redis


service-uri:
  services:
    user-service: ${USER_SERVICE_URI:http://localhost:9000}
    token-identity: ${KEYCLOAK_TOKEN_URI:http://identity:8080/realms/CourseRealm/protocol/openid-connect/token}
  token-id: user-management
  token-secret: ${KEYCLOAK_CLIENT_SECRET_USER=ebyMQYbAe5zxWN2RPVZ5V7t2woDsRZjb}

logging:
  level:
    org.springframework.security: DEBUG
